<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- Creating a link for static css file use slash '/' will look up for the file from the root of the folder  -->
        <link rel="stylesheet" href="/css/layout.css">      
        <%- style %>
    </head>

    <body>
        <%- include('_header');%>

        <%- body %>

        <%- include('_footer');%>

        <%- script %>
    </body>
</html> 